*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea
*.iml

# Generated Folders
config/
profiles/
target/
sources/
dependency-reduced-pom.xml

# Gradle
.gradle

# Eclipse

.settings/

.project

.classpath
